.filter-component {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  max-width: 1080px;
}
  .filter-component > div:first-child {
    margin-top: 2em;
    width: 20%;
  }
  .filter-component > div:last-child { width: 75%; }

.filtered-list-example {
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.filtered-list-example li {
  border-top: 1px solid #ccc;
  padding: 1em;
}

.filtered-list-example li:nth-child(odd) { background-color: rgba(51,122,183,.2); }

.filter-component h2, .filter-component h3 { margin-top: 1em; }
