.form-component {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  max-width: 1080px;
}
  .form-component > div:first-child {
    margin-top: 2em;
    width: 20%;
  }
  .form-component > div:last-child { width: 75%; }

.form-component h2 { margin-top: 1em; }
